.container, .colorSelector, .sizeSelector {
    
    height: 512px;
    width: 512px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 10px solid #41B06E;
}

.pixel {
    border: 1px solid black;
    background-color: white;
}
.page {
    display: flex;
    justify-content: center;
    gap: 10px
}
.color {
    display: flex;
    justify-content: space-around;
}

.pickedColor {
    border: 1px solid black;
    
    height: 32px;
    width: 32px;
}
.colorSelector, .sizeSelector {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 256px;

}

h1 {
    font-size: 56px;
    color: #FFF5E0;
    font-family: "Pixelify Sans", sans-serif;
}

body {
    background-color: #141E46;
    color: #FFF5E0;
    font-family: "Pixelify Sans", sans-serif;
}

.sizeSelector {
    margin-bottom: 30px;
}

h1 {
    margin-bottom: 10px;
}

p {
    font-size: small;
}

button {
    border: 3px solid #41B06E;
    background-color: #141E46;
    color: #FFF5E0;
    font-family: "Pixelify Sans", sans-serif;
}

button:hover {
    background-color: #41B06E; 
    color: #141E46;
}