.container, .colorSelector {
    
    height: 578px;
    width: 510px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 10px solid #BBE9FF;
    border-radius: 3%;
}

.pixel {
    border: 1px solid black;
    background-color: white;
    height: 32px;
    width: 32px;
}
.page {

    display: flex;
    justify-content: space-evenly;
}
.color {
    display: flex;
    justify-content: space-around;
}

.pickedColor {
    border: 1px solid black;
    
    height: 32px;
    width: 32px;
}
.colorSelector {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 256px;

}

h1 {
    font-size: 56px;
    color: #B1AFFF;
    font-family: 'Press Start 2P', serif;
}

body {
    background-color: #FFE9D0;
}